<div class="mainContent">

  <div class="container">
    <!-- one -->
    <ol class="even">
      <li class='hex spacer'></li>
      <li class='hex water'></li>
      <li class='hex water'>
        <div class='harbor three-one any'>
          <!-- <div class='harbor-piece br'></div> -->
        </div>
      </li>
      <li class='hex water'></li>
      <li class='hex water'>
        <div class='harbor three-one any'>
          <!-- <div class='harbor-piece bl'></div> -->
        </div>
      </li>
    </ol>
    <!-- two -->
    <ol class="odd">
      <li class='hex spacer'></li>
      <li class='hex water'>
        <div class='harbor two-one sheep'>
          <!-- <div class='harbor-piece br'></div> -->
        </div>
      </li>
      <li class='hex {{row1[0].resource}}'>
        <div class='settlement target tl'(click)="build(3)" id="s3"></div>
        <div class='settlement target t'(click)="build(0)" id="s0"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row1[0].roll]}}'></div>
      </li>
      <li class='hex {{row1[1].resource}}'>
        <div class='settlement target tl'(click)="build(4)" id="s4"></div>
        <div class='settlement target t'(click)="build(1)" id="s1"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row1[1].roll]}}'></div>
      </li>
      <li class='hex {{row1[2].resource}}'>
        <div class='settlement target tl'(click)="build(5)" id="s5"></div>
        <div class='settlement target t'(click)="build(2)" id="s2"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row1[2].roll]}}'></div>
      </li>
      <li class='hex water'>
        <div class='settlement target tl'(click)="build(6)" id="s6"></div>
        <div class='road target l'></div>
      </li>
    </ol>
    <!-- three -->
    <ol class="even">
      <li class='hex water'></li>
      <li class='hex {{row2[0].resource}}'>
        <div class='settlement target tl'(click)="build(11)" id="s11"></div>
        <div class='settlement target t'(click)="build(7)" id="s7"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row2[0].roll]}}'></div>
      </li>
      <li class='hex {{row2[1].resource}}'>
        <div class='settlement target tl'></div>
        <div class='settlement target t'></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row2[1].roll]}}'></div>
        <div class='settlement target tl'(click)="build(12)" id="s12"></div>
        <div class='settlement target t'(click)="build(8)" id="s8"></div>

      </li>
      <li class='hex {{row2[2].resource}}'>
        <div class='settlement target tl'(click)="build(13)" id="s13"></div>
        <div class='settlement target t'(click)="build(9)" id="s9"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row2[2].roll]}}'></div>
      </li>
      <li class='hex {{row2[3].resource}}'>
        <div class='settlement target tl'></div>
        <div class='settlement target t'></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row2[3].roll]}}'></div>
        <div class='settlement target tl'(click)="build(14)" id="s14"></div>
        <div class='settlement target t'(click)="build(10)" id="s10"></div>
      </li>

      <li class='hex water'>
        <div class='settlement target tl'(click)="build(15)" id="s15"></div>
        <div class='road target l'></div>
        <div class='harbor two-one brick'>
          <!-- <div class='harbor-piece l'></div> -->
        </div>
      </li>
    </ol>
    <!-- four -->
    <ol class="odd">
      <li class='hex water'>
        <div class='harbor three-one any'>
          <!-- <div class='harbor-piece r'></div> -->
        </div>
      </li>
      <li class='hex {{row3[0].resource}}'>
        <div class='settlement target tl'(click)="build(21)" id="s21"></div>
        <div class='settlement target t'(click)="build(16)" id="s16"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row3[0].roll]}}'></div>
      </li>
      <li class='hex {{row3[1].resource}}'>
        <div class='settlement target tl'(click)="build(22)" id="s22"></div>
        <div class='settlement target t'(click)="build(17)" id="s17"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>

        <div class='number {{dictionary[row3[1].roll]}}'></div>
      </li>
      <li class='hex {{row3[2].resource}}'>
        <div class='settlement target tl'(click)="build(23)" id="s23"></div>
        <div class='settlement target t'(click)="build(18)" id="s18"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row3[2].roll]}}'></div>
      </li>
      <li class='hex {{row3[3].resource}}'>
        <div class='settlement target tl'(click)="build(24)" id="s24"></div>
        <div class='settlement target t'(click)="build(19)" id="s19"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row3[3].roll]}}'></div>
      </li>
      <li class='hex {{row3[4].resource}}'>
        <div class='settlement target tl'(click)="build(25)" id="s25"></div>
        <div class='settlement target t'(click)="build(20)" id="s20"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row3[4].roll]}}'></div>
      </li>
      <li class='hex water'>
        <div class='settlement target tl'(click)="build(26)" id="s26"></div>
        <div class='road target l'></div>


      </li>
    </ol>
    <!-- five -->
    <ol class="even">
      <li class='hex water'>
        <div class='settlement target t'></div>
        <div class='road target tr'></div>

      </li>
      <li class='hex {{row4[0].resource}}'>
        <!-- ROAD TARGETS -->
        <div class='settlement target tl'(click)="build(33)" id="s33"></div>
        <div class='settlement target t'(click)="build(28)" id="s28"></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='road target l'></div>
        <div class='road target tl'></div>
        <div class='number {{dictionary[row4[0].roll]}}'></div>
      </li>
      <li class='hex {{row4[1].resource}}'>
        <div class='settlement target tl'(click)="build(34)" id="s34"></div>
        <div class='settlement target t'(click)="build(29)" id="s29"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row4[1].roll]}}'></div>
      </li>
      <li class='hex {{row4[2].resource}}'>
        <div class='settlement target tl'(click)="build(35)" id="s35"></div>
        <div class='settlement target t'(click)="build(30)" id="s30"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <!-- HOUSE TARGETS -->
        <!-- <div class='settlement target t target red'></div> -->
        <div class='number {{dictionary[row4[2].roll]}}'></div>
      </li>
      <li class='hex {{row4[3].resource}}'>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='settlement target tl'(click)="build(36)" id="s36"></div>
        <div class='settlement target t'(click)="build(31)" id="s31"></div>
        <div class='road target tr'></div>

        <div class='number {{dictionary[row4[3].roll]}}'></div>
        <!-- <div class='city t blue'></div> -->

      </li>

      <li class='hex water'>

        <div class='settlement target tl'(click)="build(37)" id="s37"></div>
        <div class='road target l'></div>
        <div class='road target tl'></div>
        <div class='settlement target t'></div>
        <div class='harbor two-one wood'>


          <!-- <div class='harbor-piece l'></div> -->
        </div>
      </li>
    </ol>
    <!-- six -->
    <ol class="odd">
      <li class='hex spacer'></li>
      <li class='hex water'>
        <div class='road target tr'></div>
        <div class='settlement target t'></div>
        <div class='harbor two-one ore'>
          <!-- <div class='harbor-piece tr'></div> -->
        </div>
      </li>
      <li class='hex {{row5[0].resource}}'>
        <div class='settlement target tl'(click)="build(43)" id="s43"></div>
        <div class='settlement target t'(click)="build(39)" id="s39"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row5[0].roll]}}'></div>
      </li>

      <li class='hex {{row5[1].resource}}'>
        <div class='settlement target tl'(click)="build(44)" id="s44"></div>
        <div class='settlement target t'(click)="build(40)" id="s40"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row5[1].roll]}}'></div>
      </li>
      <li class='hex {{row5[2].resource}}'>
        <div class='settlement target tl'(click)="build(45)" id="s45"></div>
        <div class='settlement target t'(click)="build(41)" id="s41"></div>
        <div class='road target tl'></div>
        <div class='road target l'></div>
        <div class='road target tr'></div>
        <div class='number {{dictionary[row5[2].roll]}}'></div>
      </li>
      <li class='hex water'>
        <div class='settlement target tl'(click)="build(46)" id="s46"></div>
        <div class='settlement target t'(click)="build(42)" id="s42"></div>
        <div class='road target l'></div>
        <div class='road target tl'></div>

        <!-- <div class='city tl'></div></li> -->
      </ol>
      <!-- seven -->
      <ol class="even">
        <li class='hex spacer'></li>
        <li class='hex water'>
          <div class='settlement target t'(click)="build(47)" id="s47"></div>
          <div class='road target tr'></div>
        </li>
        <li class='hex water'>
          <div class='settlement target tl'(click)="build(51)" id="s51"></div>
          <div class='settlement target t'(click)="build(48)" id="s48"></div>
          <div class='road target tr'></div>
          <div class='road target tl'></div>
          <div class='harbor two-one wheat'>
            <!-- <div class='harbor-piece tr'></div> -->
          </div>
        </li>
        <li class='hex water'>
          <div class='settlement target tl'(click)="build(52)" id="s52"></div>
          <div class='settlement target t'(click)="build(49)" id="s49"></div>
          <div class='road target tr'></div>
          <div class='road target tl'></div>

        </li>
        <li class='hex water'>
          <div class='settlement target tl'(click)="build(53)" id="s53"></div>
          <div class='settlement target t'(click)="build(50)" id="s50"></div>
          <div class='road target tl'></div>
          <div class='harbor three-one any'>
            <!-- <div class='harbor-piece tl'></div> -->
          </div>
        </li>
      </ol>

    </div>
    <div class="dice">
      <app-dice></app-dice>
    </div>

    <div class="resource-cards">
      <a><img src="../../assets/img/placeholderCard.png" alt="placeholder" class="cards"></a>
      <a><img src="../../assets/img/placeholderCard.png" alt="placeholder" class="cards"></a>
      <a><img src="../../assets/img/placeholderCard.png" alt="placeholder" class="cards"></a>
      <a><img src="../../assets/img/placeholderCard.png" alt="placeholder" class="cards"></a>
      <a><img src="../../assets/img/placeholderCard.png" alt="placeholder" class="cards"></a>
    </div>
  </div>
