<div class="container">

  <ol class="even">
    <li class='hex spacer'></li>
    <li class='hex water'></li>
    <li class='hex water'>
      <!-- <div class='harbor two-one wood'>
        <div class='harbor-piece br'></div>
      </div> -->
    </li>
    <li class='hex water'></li>
    <li class='hex water'>
      <!-- <div class='harbor three-one wood'>
        <div class='harbor-piece bl'></div>
      </div> -->
    </li>
  </ol>

  <ol class="odd">
    <li class='hex spacer'></li>
    <li class='hex water'>
      <!-- <div class='harbor three-one sheep'>
        <div class='harbor-piece br'></div>
      </div> -->
    </li>
    <li class='hex {{row1[0].resource}}'>
      <div class='number {{dictionary[row1[0].roll]}}'></div>
      <!-- <div class='road tr'></div>
      <div class='road l'></div>
      <div class='road tl'></div> -->
    </li>
    <li class='hex {{row1[1].resource}}'>
      <div class='number {{dictionary[row1[1].roll]}}'></div>
      <!-- <div class='road tl'></div>
      <div class='road l'></div>
      <div class='road tr'></div> -->
    </li>
    <li class='hex {{row1[2].resource}}'>
      <!-- <div class='number three'></div> -->
      <!-- <div class='road tl'></div>
      <div class='road tr'></div> -->

    </li>
    <li class='hex water'></li>
  </ol>

  <ol class="even">
    <li class='hex water'></li>
    <li class='hex {{row2[0].resource}}'>
      <!-- <div class='number four'></div> -->
      <!-- <div class='road tr'></div> -->
    </li>
    <li class='hex {{row2[1].resource}}'>
      <!-- <div class='number four'></div> -->
      <!-- <div class='house tl red'></div> -->
    </li>
    <li class='hex {{row2[2].resource}}'>
      <!-- <div class='number five'></div> -->
    </li>
    <li class='hex {{row2[3].resource}}'>
      <!-- <div class='number five'></div> -->
      <!-- <div class='house t blue'></div> -->
    </li>
    <li class='hex water'>
      <!-- <div class='harbor three-one brick'>
        <div class='harbor-piece l'></div>
      </div> -->
    </li>
  </ol>

  <ol class="odd">
    <li class='hex water'>
      <!-- <div class='harbor three-one sheep'>
        <div class='harbor-piece r'></div>
      </div> -->
    </li>
    <li class='hex {{row3[0].resource}}'>
      <!-- <div class='number six'></div> -->
    </li>
    <li class='hex {{row3[1].resource}}'>
      <!-- <div class='number six'></div> -->
    </li>
    <li class='hex {{row3[2].resource}}'>
      <!-- <div class='number eight robber'></div> -->
    </li>
    <li class='hex {{row3[3].resource}}'>
      <!-- <div class='number eight'></div> -->
    </li>
    <li class='hex {{row3[4].resource}}'>
      <!-- <div class='number nine'></div> -->
    </li>
    <li class='hex water'>

    </li>
  </ol>
  <ol class="even">
    <li class='hex water'></li>
    <li class='hex {{row4[0].resource}}'>
      <!-- ROAD TARGETS -->
      <!-- <div class='road target tr'></div>
      <div class='road target l'></div>
      <div class='road target tl'></div> -->
      <!-- <div class='number nine'></div> -->
    </li>
    <li class='hex {{row4[1].resource}}'>
      <!-- <div class='number ten'></div> -->
    </li>
    <li class='hex {{row4[2].resource}}'>
      <!-- HOUSE TARGETS -->
      <!-- <div class='house t target'></div> -->
      <!-- <div class='number ten'></div> -->
    </li>
    <li class='hex {{row4[3].resource}}'>
      <!-- <div class='number eleven'></div> -->
      <!-- <div class='city t blue'></div> -->
    </li>
    <li class='hex water'>
      <!-- <div class='harbor three-one brick'>
        <div class='harbor-piece l'></div>
      </div> -->
    </li>
  </ol>
  <ol class="odd">
    <li class='hex spacer'></li>
    <li class='hex water'>
      <!-- <div class='harbor two-one any'>
        <div class='harbor-piece tr'></div>
      </div> -->
    </li>
    <li class='hex {{row5[0].resource}}'></li>
    <li class='hex {{row5[1].resource}}'>
      <!-- <div class='number twelve'></div> -->
    </li>
    <li class='hex {{row5[2].resource}}'>
      <!-- <div class='number eight'></div> -->
    </li>
    <li class='hex water'>
      <!-- <div class='city tl red'></div></li> -->
  </ol>
  <ol class="even">
    <li class='hex spacer'></li>
    <li class='hex water'></li>
    <li class='hex water'>
      <!-- <div class='harbor two-one any'>
        <div class='harbor-piece tr'></div>
      </div> -->
    </li>
    <li class='hex water'></li>
    <li class='hex water'>
      <!-- <div class='harbor three-one wood'>
        <div class='harbor-piece tl'></div>
      </div> -->
    </li>
  </ol>
</div>
