<div class="mainContent">

  <div class="container">
    <!-- one -->
    <ol class="even">
      <li class='hex spacer'></li>
      <li class='hex water'></li>
      <li class='hex water'>
        <div class='harbor three-one any'>
          <!-- <div class='harbor-piece br'></div> -->
        </div>
      </li>
      <li class='hex water'></li>
      <li class='hex water'>
        <div class='harbor three-one any'>
          <!-- <div class='harbor-piece bl'></div> -->
        </div>
      </li>
    </ol>
    <!-- two -->
    <ol class="odd">
      <li class='hex spacer'></li>
      <li class='hex water'>
        <div class='harbor two-one sheep'>
          <!-- <div class='harbor-piece br'></div> -->
        </div>
      </li>
      <li class='hex {{row1[0].resource}}' id="h1">
        <div class='settlement target tl'(click)="build(3)" id="s3"></div>
        <div class='settlement target t'(click)="build(0)" id="s0"></div>
        <div class='road target tl r3 r0'(click)="buildRoad(0,3)"></div>
        <div class='road target l r3 r7'(click)="buildRoad(7,3)"></div>
        <div class='road target tr r0 r4'(click)="buildRoad(0,4)"></div>

        <div class='number {{dictionary[row1[0].roll]}}'></div>
      </li>
      <li class='hex {{row1[1].resource}}' id="h2">
        <div class='settlement target tl'(click)="build(4)" id="s4"></div>
        <div class='settlement target t'(click)="build(1)" id="s1"></div>
        <div class='road target tl r4 r1'(click)="buildRoad(4,1)"></div>
        <div class='road target l r4 r8'(click)="buildRoad(4,8)"></div>
        <div class='road target tr r1 r5'(click)="buildRoad(1,5)"></div>
        <div class='number {{dictionary[row1[1].roll]}}'></div>
      </li>
      <li class='hex {{row1[2].resource}}' id="h3">
        <div class='settlement target tl'(click)="build(5)" id="s5"></div>
        <div class='settlement target t'(click)="build(2)" id="s2"></div>
        <div class='road target tl r5 r2'(click)="buildRoad(5,2)"></div>
        <div class='road target l r9 r5'(click)="buildRoad(9,5)"></div>
        <div class='road target tr r2 r6'(click)="buildRoad(2,6)"></div>
        <div class='number {{dictionary[row1[2].roll]}}'></div>
      </li>
      <li class='hex water'>
        <div class='settlement target tl'(click)="build(6)" id="s6"></div>
        <div class='road target l r6 r10'(click)="buildRoad(6,10)"></div>

      </li>
    </ol>
    <!-- three -->
    <ol class="even">
      <li class='hex water'></li>
      <li class='hex {{row2[0].resource}}' id="h4">
        <div class='settlement target tl'(click)="build(11)" id="s11"></div>
        <div class='settlement target t'(click)="build(7)" id="s7"></div>
        <div class='road target tl r11 r7'(click)="buildRoad(11,7)"></div>
        <div class='road target l r11 r16'(click)="buildRoad(11,16)"></div>
        <div class='road target tr r7 r12'(click)="buildRoad(7,12)"></div>
        <div class='number {{dictionary[row2[0].roll]}}'></div>
      </li>
      <li class='hex {{row2[1].resource}}' id="h5">
        <div class='road target tl r12 r8'(click)="buildRoad(12,8)"></div>
        <div class='road target l r12 r17'(click)="buildRoad(12,17)"></div>
        <div class='road target tr r8 r13'(click)="buildRoad(8,13)"></div>
        <div class='number {{dictionary[row2[1].roll]}}'></div>
        <div class='settlement target tl'(click)="build(12)" id="s12"></div>
        <div class='settlement target t'(click)="build(8)" id="s8"></div>

      </li>
      <li class='hex {{row2[2].resource}}' id="h6">
        <div class='settlement target tl'(click)="build(13)" id="s13"></div>
        <div class='settlement target t'(click)="build(9)" id="s9"></div>
        <div class='road target tl r13 r9'(click)="buildRoad(13,9)"></div>
        <div class='road target l r13 r18'(click)="buildRoad(13,18)"></div>
        <div class='road target tr r9 r14'(click)="buildRoad(9,14)"></div>
        <div class='number {{dictionary[row2[2].roll]}}'></div>
      </li>
      <li class='hex {{row2[3].resource}}' id="h7">
        <div class='settlement target tl'></div>
        <div class='settlement target t'></div>
        <div class='road target tl r14 r10'(click)="buildRoad(14,10)"></div>
        <div class='road target l r14 r19'(click)="buildRoad(14,19)"></div>
        <div class='road target tr r10 r15'(click)="buildRoad(10,15)"></div>
        <div class='number {{dictionary[row2[3].roll]}}'></div>
        <div class='settlement target tl'(click)="build(14)" id="s14"></div>
        <div class='settlement target t'(click)="build(10)" id="s10"></div>
      </li>

      <li class='hex water'>
        <div class='settlement target tl'(click)="build(15)" id="s15"></div>
        <div class='road target l r15 r20'(click)="buildRoad(15,20)"></div>

        <div class='harbor two-one brick'>
          <!-- <div class='harbor-piece l'></div> -->
        </div>
      </li>
    </ol>
    <!-- four -->
    <ol class="odd">
      <li class='hex water'>
        <div class='harbor three-one any'>
          <!-- <div class='harbor-piece r'></div> -->
        </div>
      </li>
      <li class='hex {{row3[0].resource}}' id="h8">
        <div class='settlement target tl'(click)="build(21)" id="s21"></div>
        <div class='settlement target t'(click)="build(16)" id="s16"></div>
        <div class='road target tl r21 r16'(click)="buildRoad(21,16)"></div>
        <div class='road target l r21 r27'(click)="buildRoad(21,27)"></div>
        <div class='road target tr r16 r22'(click)="buildRoad(16,22)"></div>
        <div class='number {{dictionary[row3[0].roll]}}'></div>
      </li>
      <li class='hex {{row3[1].resource}}' id="h9">
        <div class='settlement target tl'(click)="build(22)" id="s22"></div>
        <div class='settlement target t'(click)="build(17)" id="s17"></div>
        <div class='road target tl r22 r17'(click)="buildRoad(22,17)"></div>
        <div class='road target l r22 r28'(click)="buildRoad(22,28)"></div>
        <div class='road target tr r17 r23'(click)="buildRoad(17,23)"></div>
        <div class='number {{dictionary[row3[1].roll]}}'></div>
      </li>
      <li class='hex {{row3[2].resource}}' id="h10">
        <div class='settlement target tl'(click)="build(23)" id="s23"></div>
        <div class='settlement target t'(click)="build(18)" id="s18"></div>
        <div class='road target tl r23 r18'(click)="buildRoad(23,18)"></div>
        <div class='road target l r29 r23'(click)="buildRoad(29,23)"></div>
        <div class='road target tr r18 r24'(click)="buildRoad(18,24)"></div>
        <div class='number {{dictionary[row3[2].roll]}}'></div>
      </li>
      <li class='hex {{row3[3].resource}}' id="h11">
        <div class='settlement target tl'(click)="build(24)" id="s24"></div>
        <div class='settlement target t'(click)="build(19)" id="s19"></div>
        <div class='road target tl r24 r19'(click)="buildRoad(24,19)"></div>
        <div class='road target l r24 r30'(click)="buildRoad(24,30)"></div>
        <div class='road target tr r19 r25'(click)="buildRoad(19,25)"></div>
        <div class='number {{dictionary[row3[3].roll]}}'></div>
      </li>
      <li class='hex {{row3[4].resource}}' id="h12">
        <div class='settlement target tl'(click)="build(25)" id="s25"></div>
        <div class='settlement target t'(click)="build(20)" id="s20"></div>
        <div class='road target tl r25 r20'(click)="buildRoad(25,20)"></div>
        <div class='road target l r25 r31'(click)="buildRoad(25,31)"></div>
        <div class='road target tr r20 r26'(click)="buildRoad(20,26)"></div>
        <div class='number {{dictionary[row3[4].roll]}}'></div>
      </li>
      <li class='hex water'>
        <div class='settlement target tl'(click)="build(26)" id="s26"></div>
        <div class='road target l r26 r32'(click)="buildRoad(26,32)"></div>


      </li>
    </ol>
    <!-- five -->
    <ol class="even">
      <li class='hex water'>
        <div class='settlement target t' (click)="build(27)" id="s27"></div>
        <div class='road target tr r27 r33'(click)="buildRoad(27,33)"></div>

      </li>
      <li class='hex {{row4[0].resource}}' id="h13">
        <!-- ROAD TARGETS -->
        <div class='settlement target tl'(click)="build(33)" id="s33"></div>
        <div class='settlement target t'(click)="build(28)" id="s28"></div>
        <div class='road target l r33 r38'(click)="buildRoad(33,38)"></div>
        <div class='road target tr r34 r28'(click)="buildRoad(34,28)"></div>
        <div class='road target tl r28 r33'(click)="buildRoad(28,33)"></div>
        <div class='number {{dictionary[row4[0].roll]}}'></div>
      </li>
      <li class='hex {{row4[1].resource}}' id="h14">
        <div class='settlement target tl'(click)="build(34)" id="s34"></div>
        <div class='settlement target t'(click)="build(29)" id="s29"></div>
        <div class='road target tl r34 r29'(click)="buildRoad(34,29)"></div>
        <div class='road target l r34 r39'(click)="buildRoad(34,39)"></div>
        <div class='road target tr r29 r35'(click)="buildRoad(29,35)"></div>
        <div class='number {{dictionary[row4[1].roll]}}'></div>
      </li>
      <li class='hex {{row4[2].resource}}' id="h15">
        <div class='settlement target tl'(click)="build(35)" id="s35"></div>
        <div class='settlement target t'(click)="build(30)" id="s30"></div>
        <div class='road target tl r35 r30'(click)="buildRoad(35,30)"></div>
        <div class='road target l r35 r40'(click)="buildRoad(35,40)"></div>
        <div class='road target tr r30 r36'(click)="buildRoad(30,36)"></div>
        <!-- HOUSE TARGETS -->
        <!-- <div class='settlement target t target red'></div> -->
        <div class='number {{dictionary[row4[2].roll]}}'></div>
      </li>
      <li class='hex {{row4[3].resource}}' id="h16">
        <div class='road target tl r36 r31'(click)="buildRoad(36,31)"></div>
        <div class='road target l r36 r41'(click)="buildRoad(36,41)"></div>
        <div class='road target tr r31 r37'(click)="buildRoad(31,37)"></div>
        <div class='settlement target tl'(click)="build(36)" id="s36"></div>
        <div class='settlement target t'(click)="build(31)" id="s31"></div>
        <div class='number {{dictionary[row4[3].roll]}}'></div>
        <!-- <div class='city t blue'></div> -->

      </li>

      <li class='hex water'>
        <div class='settlement target tl'(click)="build(37)" id="s37"></div>
        <div class='road target tl r37 r32'(click)="buildRoad(37,32)"></div>
        <div class='road target l r37 r42'(click)="buildRoad(37,42)"></div>
        <div class='settlement target t'></div>
        <div class='harbor two-one wood'>


          <!-- <div class='harbor-piece l'></div> -->
        </div>
      </li>
    </ol>
    <!-- six -->
    <ol class="odd">
      <li class='hex spacer'></li>
      <li class='hex water'>
        <div class='road target tr r38 r43'(click)="buildRoad(38,43)"></div>
        <div class='settlement target t'(click)="build(38)" id="s38"></div>
        <div class='harbor two-one ore'>
          <!-- <div class='harbor-piece tr'></div> -->
        </div>
      </li>
      <li class='hex {{row5[0].resource}}' id="h17">
        <div class='settlement target tl'(click)="build(43)" id="s43"></div>
        <div class='settlement target t'(click)="build(39)" id="s39"></div>
        <div class='road target tl r43 r39'(click)="buildRoad(43,39)"></div>
        <div class='road target l r43 r47'(click)="buildRoad(43,47)"></div>
        <div class='road target tr r39 r44'(click)="buildRoad(39,44)"></div>
        <div class='number {{dictionary[row5[0].roll]}}'></div>
      </li>

      <li class='hex {{row5[1].resource}}' id="h18">
        <div class='settlement target tl'(click)="build(44)" id="s44"></div>
        <div class='settlement target t'(click)="build(40)" id="s40"></div>
        <div class='road target tl r44 r40'(click)="buildRoad(44,40)"></div>
        <div class='road target l r44 r48'(click)="buildRoad(44,48)"></div>
        <div class='road target tr r40 r45'(click)="buildRoad(40,45)"></div>
        <div class='number {{dictionary[row5[1].roll]}}'></div>
      </li>
      <li class='hex {{row5[2].resource}}' id="h19">
        <div class='settlement target tl'(click)="build(45)" id="s45"></div>
        <div class='settlement target t'(click)="build(41)" id="s41"></div>
        <div class='road target tl r45 r41'(click)="buildRoad(45,41)"></div>
        <div class='road target l r45 r49'(click)="buildRoad(45,49)"></div>
        <div class='road target tr r41 r46'(click)="buildRoad(41,46)"></div>
        <div class='number {{dictionary[row5[2].roll]}}'></div>
      </li>
      <li class='hex water'>
        <div class='settlement target tl'(click)="build(46)" id="s46"></div>
        <div class='settlement target t'(click)="build(42)" id="s42"></div>
        <div class='road target tl r46 r42'(click)="buildRoad(46,42)"></div>
        <div class='road target l r46 r50'(click)="buildRoad(46,50)"></div>

        <!-- <div class='city tl'></div></li> -->
      </ol>
      <!-- seven -->
      <ol class="even">
        <li class='hex spacer'></li>
        <li class='hex water'>
          <div class='settlement target t'(click)="build(47)" id="s47"></div>
          <div class='road target tr r47 r51'(click)="buildRoad(47,51)"></div>
        </li>
        <li class='hex water'>
          <div class='settlement target tl'(click)="build(51)" id="s51"></div>
          <div class='settlement target t'(click)="build(48)" id="s48"></div>
          <div class='road target tl r51 r48'(click)="buildRoad(51,48)"></div>
          <div class='road target tr r48 r52'(click)="buildRoad(48,52)"></div>
          <div class='harbor two-one wheat'>
            <!-- <div class='harbor-piece tr'></div> -->
          </div>
        </li>
        <li class='hex water'>
          <div class='settlement target tl'(click)="build(52)" id="s52"></div>
          <div class='settlement target t'(click)="build(49)" id="s49"></div>
          <div class='road target tr r49 r53'(click)="buildRoad(49,53)"></div>
          <div class='road target tl r52 r49'(click)="buildRoad(52,49)"></div>

        </li>
        <li class='hex water'>
          <div class='settlement target tl'(click)="build(53)" id="s53"></div>
          <div class='settlement target t'(click)="build(50)" id="s50"></div>
          <div class='road target tl r53 r50'(click)="buildRoad(53,50)"></div>
          <div class='harbor three-one any'>
            <!-- <div class='harbor-piece tl'></div> -->
          </div>
        </li>
      </ol>
    </div>

    <div class="build-card">
      <a><img src="../../assets/img/buildWhite.png" alt="placeholder" class="build-card-img"></a>
    </div>
    <div class="rules">
      <app-rules></app-rules>
    </div>

    <div class="dice">
      <app-dice></app-dice>
    </div>



    <div class="resource-cards">
      <a><img src="../../assets/img/wheat.png" alt="wheat" class="cards"><span>{{game.players[game.turn].resources.wheat}}</span></a>
      <a><img src="../../assets/img/sheep.png" alt="sheep" class="cards"><span>{{game.players[game.turn].resources.sheep}}</span></a>
      <a><img src="../../assets/img/brick.png" alt="brick" class="cards"><span>{{game.players[game.turn].resources.brick}}</span></a>
      <a><img src="../../assets/img/ore.png" alt="ore" class="cards"><span>{{game.players[game.turn].resources.ore}}</span></a>
      <a><img src="../../assets/img/wood.png" alt="wood" class="cards"><span>{{game.players[game.turn].resources.wood}}</span></a>
    </div>

    <div class="development-cards">
      <div *ngFor="let hand of game.players[game.turn].dev">
      <a><img src="../../assets/img/{{hand.name}}.png" alt="chapel" class="cards"></a>
    </div>
    </div>


  </div>

  <div class="player-info">
    <p>Current Player: <span></span></p>
  </div>
